* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.carrossel {
    display: flex;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 40px 8px rgba(0, 0, 0, 0.2);
}

.imagem-container img {
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.nav-btn {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #333;
}

.nav-btn:hover {
    color: #007BFF;
}

#descricao {
    display: flex;
    justify-content: center;
}